* {
  margin: 0;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L';
  background-color: rgb(88, 62, 35);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  color: rgb(255, 255, 255);
  background-color: rgb(115, 104, 59);
}

header h1 {
  font-size: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin-left: 700px;
  margin-top: -40px;
  position: absolute;
}

header nav ul a {
  text-decoration: none;
  font-size: 25px;
  margin-left: 75px;
}

.nav-link-active {
  color: rgb(19, 38, 47);
}

.project {
  margin-top: 50px;
}

/* ABOUT */

#about-me {
  width: 1150px;
}

.project h2 {
  font-size: 30px;
}

#about-me img {
  height: 90px;
  width: 90px;
  margin-top: 20px;
  border-radius: 50px;
}

#about-me p {
  margin-top: 10px;
}

/* PORTFOLIO */

#portfolio {
  width: 1000px;
}

.pair-wrapper {
  display: flex;
  justify-content: space-around;
}

.application {
  margin-top: 20px;
  width: 40%;
  height: 400px;
  font-size: 17px;
}

.application text {
  text-transform: none;
}

.application a {
  font-size: 25px;
  background-color: rgb(19, 38, 47);
  position: absolute;
  text-decoration: none;
  margin-top: 5px;
  margin-left: 5px;
}

.application a:hover {
  color: rgb(88, 62, 35);
  background-color: rgb(176, 160, 132);
}

.main-display {
  border: 5px solid rgb(176, 160, 132);
  height: 375px;
  width: 398px;
}

.gitHub {
  position: absolute;
  margin-left: 365px;
  margin-top: -390px;
  height: 32px;
  width: 32px;
}

.tech {
  background-color: rgb(176, 160, 132)
}

.gitHub:hover {
  opacity: 0.5;
}

.gitHub:active {
  opacity: 1.0;
}

/* CONTACT */

#contact {
  width: 600px;
}

#contact-form {
  margin-top: 12px;
}

#contact-form label {
  margin-top: 50px;
  font-size: 22px;
}

#contact-form input {
  padding: 8px;
  width: 550px;
}

#contact-form textarea {
  width: 563px;
}

#contact p {
  font-size: 18px;
}

#contact button {
  font-family: 'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L';
  font-size: 20px;
  background-color: rgb(19, 38, 47);
  border: 1px solid  rgb(19, 38, 47);
  padding: 10px;
  width: 125px;
}

#contact-form input, 
#contact-form textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
} 

/* RESUME */

#resume {
  width: 300px;
}

#resume a {
  margin-left: 5px;
}

#about-me, 
#portfolio, 
#contact, 
#resume {
  margin-left: 106px;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.git {
  margin-right: 10px;
}

.linked {
  width: 35px;
  height: 35px;
}

.facebook {
  margin-left: 10px;
  width: 32px;
  height: 32px;
}