:root {
  /* font styles */
  --primary-font: 'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L';
  --contact-form-font: Arial, Helvetica, sans-serif;
  /* colors */
  --primary: rgb(88, 62, 35);
  --secondary: rgb(115, 104, 59);
  --tertiary: rgb(176, 160, 132);
  --quaternary: rgb(19, 38, 47);
}

* {
  margin: 0;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--primary);
}

header {
  background-color: var(--secondary);
}

header h1 {
  font-size: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin-left: 700px;
  margin-top: -40px;
  position: absolute;
}

header nav ul a {
  text-decoration: none;
  font-size: 25px;
  margin-left: 75px;
}

.nav-link-active {
  color: var(--quaternary);
}

.project {
  margin-top: 50px;
  min-height: 490px;
}

/* ABOUT */

#about-me {
  width: 1150px;
  margin-bottom: 55px;
}

.project h2 {
  font-size: 30px;
}

#about-me img {
  height: 90px;
  width: 90px;
  margin-top: 20px;
  border-radius: 50px;
}

#about-me p {
  margin-top: 10px;
}

/* PORTFOLIO */

#portfolio {
  width: 1000px;
}

.pair-wrapper {
  display: flex;
  justify-content: space-around;
}

.application {
  margin-top: 20px;
  width: 40%;
  height: 400px;
  font-size: 17px;
}

.application text {
  text-transform: none;
}

.application a {
  font-size: 25px;
  background-color: var(--quaternary);
  position: absolute;
  text-decoration: none;
  margin-top: 5px;
  margin-left: 5px;
}

.application a:hover {
  color: var(--primary);
  background-color: var(--tertiary);
}

.main-display {
  border: 5px solid var(--tertiary);
  height: 375px;
  width: 398px;
}

.gitHub {
  position: absolute;
  margin-left: 365px;
  margin-top: -390px;
  height: 32px;
  width: 32px;
}

.tech {
  background-color: var(--tertiary);
}

.gitHub:hover {
  opacity: 0.5;
}

.gitHub:active {
  opacity: 1.0;
}

/* CONTACT */

#contact {
  width: 600px;
}

#contact-form {
  margin-top: 12px;
}

#contact-form label {
  margin-top: 50px;
  font-size: 22px;
}

#contact-form input {
  padding: 8px;
  width: 550px;
}

#contact-form textarea {
  width: 563px;
}

#contact p {
  font-size: 18px;
}

#contact button {
  font-family: var(--primary-font);
  font-size: 20px;
  background-color: var(--quaternary);
  border: 1px solid var(--quaternary);
  padding: 10px;
  width: 125px;
}

#contact-form input, 
#contact-form textarea {
  font-family: var(--contact-form-font);
  font-size: 15px;
  color: rgb(0, 0, 0);
} 

/* SKILLS */

#skills {
  width: 300px;
  margin-bottom: 35px;
}

#skills a {
  margin-left: 5px;
}

#about-me, 
#portfolio, 
#contact, 
#skills {
  margin-left: 106px;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}

.git {
  margin-right: 10px;
}

.linked {
  width: 35px;
  height: 35px;
}

.facebook {
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

.git:hover, 
.linked:hover, 
.facebook:hover {
  opacity: 0.5;
}

.git:active, 
.linked:active, 
.facebook:active {
  opacity: 1.0;
}

/* MEDIA RESPONSIVENESS */

/* iPad Pro */
@media screen and (max-width: 1024px) {

  header h1 {
    font-size: 100px;
    margin-left: 400px;
  }

  header nav ul {
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    margin-left: -15px;
  }

  header nav ul a {
    font-size: 50px;
  }

  .project h2 {
    font-size: 70px;
    margin-left: 320px;
    width: 250px;
  }

  #about-me {
    width: 850px;
  }

  #about-me img {
    width: 300px;
    height: 300px;
    margin-left: 255px;
    margin-top: 45px;
    border-radius: 15vw;
  }

  #about-me p {
    font-size: 45px;
    width: 840px;
  }

  #portfolio {
    margin-left: 1vw;
    min-height: 5000px;
  }

  #portfolio h2 {
    margin-left: 400px;
  }

  .pair-wrapper {
    display: block;
  }

  .application {
    margin-top: 300px;
    margin-left: 130px;
  }

  .main-display {
    width: 725px;
    height: 600px;
    border-width: 15px;
  }

  .content {
    margin-top: -220px;
  }

  .application a {
    font-size: 60px;
    margin-left: 2%;
    margin-top: 2%;
  }

  .gitHub {
    width: 80px;
    height: 80px;
    margin-left: 630px;
    margin-top: -635px;
  }

  #contact h2 {
    width: 300px;
    margin-left: 260px;
  }

  #contact-form {
    margin-top: 20px;
    margin-left: 120px;
  }

  #contact-form label {
    font-size: 50px;
  }

  #contact-form input {
    padding: 10px;
    width: 550px;
    font-size: 50px;
  }

  #contact-form textarea {
    width: 570px;
    font-size: 50px;
  }

  #contact p {
    font-size: 50px;
    margin-left: 120px;
  }

  #contact button {
    font-size: 40px;
    width: 180px;
    margin-left: 120px;
  }

  #skills h3 {
    font-size: 60px;
    width: 500px;
  }

  #skills ul li {
    font-size: 40px;
  }

  .git {
    width: 120px;
    height: 120px;
    margin-right: 10px;
  }
  
  .linked {
    width: 120px;
    height: 15vh;
  }
  
  .facebook {
    margin-left: 10px;
    width: 120px;
    height: 110px;
  } 
}

/* iPad */
@media screen and (max-width: 768px) {

  header h1 {
    margin-left: 265px;
  }

  header nav ul {
    margin-left: -67px;
  }

  header nav ul a {
    font-size: 38px;
  }

  #about-me {
    margin-left: -25px;
    width: 750px;
  }

  #about-me p {
    width: 600px;
    margin-left: 115px;
  }

  #portfolio {
    margin-left: -90px;
    width: 700px;
    min-height: 4950px;
  }

  #portfolio h2 {
    margin-left: 357px;
  }

  .main-display {
    width: 653px;
    height: 540px;
    border-width: 15px;
  }

  .gitHub {
    margin-left: 569px;
    margin-top: -573px;
  }

  .linked {
    height: 120px;
  }

  .facebook {
    width: 110px;
  }

  #contact {
    margin-left: -25px;
  }

  #skills h2 {
    margin-left: 200px;
  }
}

/* iPhone 6/7/8 Plus*/
@media screen and (max-width: 414px) {

  header {
    height: 220px;
  }

  header h1 {
    margin-left: 80px;
    width: 260px;
  }

  header nav ul {
    margin-left: -90px;
    width: 100px;
  }

  header nav ul a {
    font-size: 35px;
    width: 200px;
  }

  #am-414px-max, 
  #p-414px-max, 
  #c-414px-max, 
  #s-414px-max {
    position: absolute;
    width: 135px;
  }

  #am-414px-max,
  #c-414px-max {
    margin-left: 120px;
  }

  #p-414px-max,
  #s-414px-max {
    margin-left: 275px;
  }

  #c-414px-max,
  #s-414px-max {
    margin-top: 50px;
  }

  #about-me {
    margin-left: -150px;
    width: 200px;
  }

  #about-me h2 {
    margin-left: 275px;
    width: 165px;
  }

  #about-me img {
    margin-left: 205px;
    border-radius: 200px;
  }

  #about-me p {
    margin-left: 180px;
    width: 350px;
  }

  #portfolio {
    width: 500px;
    min-height: 1000px;
  }

  #portfolio h2 {
    margin-left: 180px;
  }

  .content {
    margin-top: 30px;
    width: 480px;
  }

  .application {
    margin-left: 123px;
    margin-top: 0px;
  }

  .application a {
    font-size: 30px;
  }

  .gitHub {
    margin-left: 277px;
    margin-top: -292px;
    width: 50px;
    height: 50px;
  }

  .main-display {
    width: 326px;
    height: 270px;
    border-width: 10px;
  }

  #contact {
    margin-left: -100px;
    width: 500px;
  }

  #contact h2 {
    margin-left: 150px;
  }

  #contact-form label {
    font-size: 40px;
  }

  #contact-form input {
    padding: 5px;
    width: 350px;
    font-size: 40px;
  }

  #contact-form textarea {
    width: 365px;
    font-size: 40px;
  }

  #skills {
    margin-left: 38px;
  }

  #skills h2 {
    margin-left: 90px;
  }

  #skills h3 {
    font-size: 40px;
    width: 320px;
  }

  #skills ul li {
    font-size: 35px;
  }

  .git {
    width: 80px;
    height: 80px;
  }

  .linked {
    width: 85px;
    height: 85px;
  }

  .facebook {
    width: 80px;
    height: 85px;
  }
}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {
  
  #portfolio {
    
    width: 450px;
  }

  .content {
    width: 460px;
  }

  .application {
    margin-left: 112px;
  }

  #contact {
    width: 440px;
  }

  #contact h2 {
    margin-left: 140px;
  }

  #contact-form input {
    width: 330px;
  }

  #contact-form textarea {
    width: 350px;
  }

  #skills h2 {
    width: 150px;
    margin-left: 85px;
  }

  #skills h3 {
    width: 310px;
  }
}

/* iPhone SE */
@media screen and (max-width: 375px) {

  header h1 {
    margin-left: 60px;
  }

  header nav ul {
    margin-left: -105px;
  }

  #about-me h2 {
    margin-left: 255px;
  }

  #about-me img {
    margin-left: 185px;
  }

  #about-me p {
    width: 300px;
  }

  #portfolio {
    width: 450px;
  }

  #portfolio h2 {
    margin-left: 165px;
  }

  .content {
    width: 460px;
  }

  .application {
    margin-left: 105px;
  }

  #contact {
    width: 460px;
  }

  #contact h2 {
    margin-left: 135px;
  }

  #contact-form input {
    width: 320px;
  }

  #contact-form textarea {
    width: 325px;
  }

  #skills h2 {
    margin-left: 75px;
    width: 145px;
  }

  #skills h3 {
    width: 300px;
  }
}