:root {
  /* font styles */
  --primary-font: 'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L';
  --contact-form-font: Arial, Helvetica, sans-serif;
  /* colors */
  --primary: rgb(88, 62, 35);
  --secondary: rgb(115, 104, 59);
  --tertiary: rgb(176, 160, 132);
  --quaternary: rgb(19, 38, 47);
}

* {
  margin: 0;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--primary);
}

header {
  background-color: var(--secondary);
}

header h1 {
  font-size: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin-left: 700px;
  margin-top: -40px;
  position: absolute;
}

header nav ul a {
  text-decoration: none;
  font-size: 25px;
  margin-left: 75px;
}

.nav-link-active {
  color: var(--quaternary);
}

.project {
  margin-top: 50px;
}

/* ABOUT */

#about-me {
  width: 1150px;
  margin-bottom: 55px;
}

.project h2 {
  font-size: 30px;
}

#about-me img {
  height: 90px;
  width: 90px;
  margin-top: 20px;
  border-radius: 50px;
}

#about-me p {
  margin-top: 10px;
}

/* PORTFOLIO */

#portfolio {
  width: 1000px;
}

.pair-wrapper {
  display: flex;
  justify-content: space-around;
}

.application {
  margin-top: 20px;
  width: 40%;
  height: 400px;
  font-size: 17px;
}

.application text {
  text-transform: none;
}

.application a {
  font-size: 25px;
  background-color: var(--quaternary);
  position: absolute;
  text-decoration: none;
  margin-top: 5px;
  margin-left: 5px;
}

.application a:hover {
  color: var(--primary);
  background-color: var(--tertiary);
}

.main-display {
  border: 5px solid var(--tertiary);
  height: 375px;
  width: 398px;
}

.gitHub {
  position: absolute;
  margin-left: 365px;
  margin-top: -390px;
  height: 32px;
  width: 32px;
}

.tech {
  background-color: var(--tertiary);
}

.gitHub:hover {
  opacity: 0.5;
}

.gitHub:active {
  opacity: 1.0;
}

/* CONTACT */

#contact {
  width: 600px;
}

#contact-form {
  margin-top: 12px;
}

#contact-form label {
  margin-top: 50px;
  font-size: 22px;
}

#contact-form input {
  padding: 8px;
  width: 550px;
}

#contact-form textarea {
  width: 563px;
}

#contact p {
  font-size: 18px;
}

#contact button {
  font-family: var(--primary-font);
  font-size: 20px;
  background-color: var(--quaternary);
  border: 1px solid var(--quaternary);
  padding: 10px;
  width: 125px;
}

#contact-form input, 
#contact-form textarea {
  font-family: var(--contact-form-font);
  font-size: 15px;
  color: rgb(0, 0, 0);
} 

/* SKILLS */

#skills {
  width: 300px;
  margin-bottom: 35px;
}

#skills a {
  margin-left: 5px;
}

#about-me, 
#portfolio, 
#contact, 
#skills {
  margin-left: 106px;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}

.git {
  margin-right: 10px;
}

.linked {
  width: 35px;
  height: 35px;
}

.facebook {
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

.git:hover, 
.linked:hover, 
.facebook:hover {
  opacity: 0.5;
}

.git:active, 
.linked:active, 
.facebook:active {
  opacity: 1.0;
}

/* MEDIA RESPONSIVENESS */

/* iPad Pro */
@media screen and (max-width: 1024px) {

  header h1 {
    font-size: 12vw;
    margin-left: 35vw;
  }

  header nav ul {
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    margin-left: -3vw;
  }

  header nav ul a {
    font-size: 5vw;
  }

  .project h2 {
    font-size: 7vw;
    margin-left: 31vw;
  }

  #about-me img {
    width: 30vw;
    height: 27vw;
    margin-left: 24vw;
    margin-top: 3vh;
    border-radius: 15vw;
  }

  #about-me p {
    font-size: 5vw;
    width: 80vw;
  }

  #portfolio {
    margin-left: 1vw;
  }

  #portfolio h2 {
    margin-left: 37vw;
  }

  .pair-wrapper {
    display: block;
  }

  .application {
    margin-top: 45vw;
    margin-left: 13vw;
  }

  .main-display {
    width: 70vw;
    height: 50vh;
    border-width: 15px;
  }

  .content {
    margin-top: -28vh;
  }

  .application a {
    font-size: 6vw;
    margin-left: 2%;
    margin-top: 2%;
  }

  .gitHub {
    width: 10vw;
    height: 8vh;
    margin-left: 59vw;
    margin-top: -53vh;
  }

  #contact h2 {
    width: 30vw;
    margin-left: 25vw;
  }

  #contact-form {
    margin-top: 2vh;
    margin-left: 12vw;
  }

  #contact-form label {
    font-size: 5vw;
  }

  #contact-form input {
    padding: 2vw;
    width: 52vw;
    font-size: 5vw;
  }

  #contact-form textarea {
    width: 56vw;
    font-size: 5vw;
  }

  #contact p {
    font-size: 5vw;
    margin-left: 12vw;
  }

  #contact button {
    font-size: 5vw;
    width: 20vw;
    margin-left: 12vw;
  }

  #skills p {
    font-size: 5vw;
    width: 38vw;
  }

  #skills a {
    margin-left: 1vw;
  }

  #skills h3 {
    font-size: 7vw;
    width: 58vw;
  }

  #skills ul li {
    font-size: 5vw;
  }

  .git {
    width: 20vw;
    height: 15vh;
    margin-right: 10px;
  }
  
  .linked {
    width: 20vw;
    height: 15vh;
  }
  
  .facebook {
    margin-left: 10px;
    width: 18vw;
    height: 14vh;
  } 
}

/* iPad */
@media screen and (max-width: 768px) {

  header nav ul {
    margin-left: -4vw;
  }

  header nav ul a {
    font-size: 3vh;
  }

  #about-me {
    margin-left: 12vw;
  }

  #contact {
    margin-left: 10vw;
  }

  #skills h2 {
    margin-left: 29vw;
  }
}

/* iPhone 6/7/8 Plus*/
@media screen and (max-width: 414px) {

  header nav ul {
    margin-left: -6vw;
  }

  header nav ul a {
    margin-left: 3vh;
  }

  .project h2 {
    font-size: 10vw;
    margin-left: 28vw;
  }

  #portfolio h2 {
    margin-left: 34vw;
  }

  .content {
    margin-top: 5vh;
  }

  .application {
    margin-left: 11vw;
    margin-top: 0vh;
  }

  .application a {
    margin-left: 3%;
    margin-top: 3%;
  }

  .gitHub {
    margin-left: -18vw;
    margin-top: 0vh;
  }

  .main-display {
    height: 45vh;
  }

  #contact h2 {
    width: 43vw;
    margin-left: 19vw;
  }

  #skills {
    margin-left: 18vw;
  }

  #skills h2 {
    margin-left: 19vw;
  }
}

/* iPhone 12 */
@media screen and (max-width: 390px) {
  
  header nav ul a {
    font-size: 5vw;
  }

  .main-display {
    height: 35vh;
  }

  .gitHub {
    margin-top: 1vh;
    height: 5vh;
  }
}